## Activity 06
### Tyler Barna

In [4]:
## import modules (running on python 3.9.12)

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
#import pymc3 as pm
import random
import scipy
import seaborn as sns


import scipy.stats as stats
from scipy.stats import norm
from scipy.stats import beta
from scipy.stats import binom
from scipy.stats import poisson
from scipy.stats import gamma
from scipy.stats import nbinom

## set seed for reproducibility
random.seed(5731) 

## import data 
df = pd.read_csv('../Activity 05/planet_radii.csv')
display(df.describe())

            Radius
count  1261.000000
mean      2.203620
std       1.869886
min       0.270000
25%       1.250000
50%       1.780000
75%       2.450000
max      16.100000