## Activity 03
### Tyler Barna

In [2]:
## import modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import norm
from scipy.stats import beta
from scipy.stats import binom
import random
random.seed(5731) ## set seed for reproducibility

## import data
df = pd.read_csv('MountStrombloAbellClusterSN_Survey.dat', sep='\s+')
df.head()

       SN  Abell Type
0  1996af   3879  nIa
1  1996ag   3809  Ia?
2  1996aj   3559   Ia
3  1996am   3809   Ia
4  1996ao   3128   Ia