## Activity 04
### Tyler Barna

In [6]:
## import modules (running on python 3.9.12)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import seaborn as sns
import scipy.stats as stats
from scipy.stats import norm
from scipy.stats import beta
from scipy.stats import binom
from scipy.stats import poisson
from scipy.stats import gamma
from scipy.stats import nbinom
import random
random.seed(5731) ## set seed for reproducibility

## import data
df = pd.read_csv('Number_PNe.txt', sep='\s+')
df['N_PN'] = df['N_PN'].astype(int)

df.head()

   galaxy  N_PN
0  FCC083    63
1  FCC119    14
2  FCC143    13
3  FCC147    98
4  FCC148    58