# Activity NN
## Tyler Barna

### Contents
1. [Import Modules and Data](#import)
2. [Visualizing Data](#data)  
3. [Analysis](#analysis)    
    3.1 [Analysis 1](#analysis1)

### 1. Import Modules and Data
<a id='import'></a>

In [2]:
import csv
import dis
import inspect
import os
import sys
import time

import arviz as az
import astropy
import astroquery
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pprint
import pymc as pm
import random
import scipy as sp
import scipy.stats as stats
import seaborn as sns
import time
import warnings
warnings.filterwarnings('ignore')

from astropy import units as u
from astropy import constants as const
from astropy.coordinates import SkyCoord
from astropy.io import fits
from astropy.io import ascii
from astropy.time import Time
from astropy.time import TimeDelta
from astropy.timeseries import TimeSeries
from astropy.visualization import time_support
time_support()
from astropy.visualization import quantity_support
quantity_support()

from IPython.display import display_html
from IPython.display import Image

from numpy import interp

from pymc import Model, Normal, Gamma, find_MAP

from scipy import integrate
from scipy import linalg as la
from scipy import optimize

from scipy.stats import beta
from scipy.stats import betabinom
from scipy.stats import binom
from scipy.stats import gamma
from scipy.stats import invgamma
from scipy.stats import multivariate_normal as mvn
from scipy.stats import nbinom
from scipy.stats import norm
from scipy.stats import poisson
from scipy.stats import t
from scipy.stats import uniform

from sklearn.linear_model import LinearRegression as linreg
from sklearn import preprocessing as preproc

%matplotlib inline
plt.style.use("seaborn-colorblind")
mpl.rcParams.update({"axes.grid" : False})
plt.style.context(("seaborn-colorblind",))

pp = pprint.PrettyPrinter(indent=4)

## set seed for reproducibility
random.seed(5731)

## import data
df = pd.read_csv("Cepheids_DATA_errMVerrP.csv")
display(df.head())
display(df.describe())

     MV  MV_err  LogP  LogP_err
0  1.25    0.50  0.17      0.07
1  5.20    0.60  0.05      0.01
2 -1.58    0.15  0.42      0.02
3 -1.93    0.13  0.42      0.07
4 -2.21    0.12  0.69      0.02

               MV      MV_err        LogP    LogP_err
count  162.000000  162.000000  162.000000  162.000000
mean    -3.594136    0.098333    0.812222    0.032593
std      1.072114    0.051827    0.287515    0.021857
min     -6.080000    0.080000    0.050000    0.010000
25%     -4.090000    0.090000    0.602500    0.020000
50%     -3.655000    0.090000    0.800000    0.020000
75%     -3.192500    0.100000    0.990000    0.057500
max      5.200000    0.600000    1.620000    0.070000

### 2. Visualizing Data
<a id='data'></a>

### 3. Analysis
<a id='analysis'></a>

#### 3.1 Analysis 1
<a id='analysis1'></a>